name: Build Windows EXE

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up MSVC
        uses: ilammy/msvc-dev-cmd@v1

      - name: Build with MSVC
        run: |
          mkdir build
          cd build
          cmake ..
          cmake --build . --config Release

      - name: Upload EXE artifact
        uses: actions/upload-artifact@v4
        with:
          name: NodCatFTP_EXE
          path: build/Release/*.exe
